* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #A1B0AB;
  background-image: linear-gradient(to right bottom, #102330, #001524);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #21242d url(../imgs/ezgif-7-8448fb474c0b.gif) no-repeat center;
  z-index: 999;
  display: none; }

.user-photo-1 {
  height: 7rem; }

.user-contacts {
  display: flex;
  margin-right: 2rem; }
  .user-contacts__icon-photo {
    width: 5rem; }

.container {
  margin: 8rem auto;
  max-width: 120rem;
  background-color: #F0F7F4;
  height: 90vh; }

.header {
  height: 7rem;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center; }
