#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #21242d url(../imgs/ezgif-7-8448fb474c0b.gif) no-repeat center;
    z-index: 999;
    display: none;
}

.user {

    &-photo-1 {
        height: 6rem;
        border-radius: 50%;
        margin-left: 7rem;
    }

    &-contacts {
        display: flex;
        margin-right: 2rem;

        &__icon-photo {
            width: 5rem;
        }
    }
}

.side-nav {
    font-size: 1.5rem;
    list-style: none;
    margin-top: 1.5rem 2rem;

    &__item {
        position: relative;
        
    }

    &__link {
        color: $color-font-2;
        display: flex;
        align-items: center;
        padding: 1.5rem 3rem;
        position: relative;
    }

    &__link:visited,
    &__link:link {
        text-decoration: none;
    }

    &__icon {
        width: 5rem;
        margin-right: 2rem;
    }

}