#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #21242d url(../imgs/ezgif-7-8448fb474c0b.gif) no-repeat center;
    z-index: 999;
    display: none;
}

.user {

    &-photo-1 {
        height: 6rem;
        border-radius: 50%;
        margin-left: 7rem;
    }

    &-contacts {
        display: flex;
        margin-right: 2rem;

        &__icon-photo {
            width: 5rem;
        }
    }
}

.side-nav {
    font-size: 1.5rem;
    list-style: none;
    margin-top: 1rem;

    &__item {
        position: relative;
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $color-green;
        transform: scaleY(0);
        transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color .1s;

    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: $color-blood;
    }

    &__link {
        color: $color-font-2;
        display: flex;
        align-items: center;
        padding: 1rem 3rem;
        position: relative;
    }

    &__link:visited,
    &__link:link {
        text-decoration: none;
    }

    &__icon {
        width: 5rem;
        margin-right: 2rem;
    }

}