.container{
    margin: 8rem auto;
    max-width: 120rem;
    background-color: $color-background-3;
    //height: 90vh;

}

.header{
    height: 7rem;
    background-color: $color-background-3;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: $color-red;
    flex: 0 0 20%;
    display: flex;
    //height: 20rem;

}

.aboutme {
    background-color: $color-background-3;
    flex: 1;
    //height: 20rem;
}