.container{
    margin: 8rem auto;
    max-width: 120rem;
    background-image: linear-gradient(to bottom right, $color-red, $color-blood);
    box-shadow: $color-shadow;
    //height: 90vh;
    min-height: 50rem;
}

.header{
    height: 7rem;
    background-color: $color-background-3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-silver;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    display: flex;
}

.sidebar {
    background-color: $color-background-2;
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //height: 20rem;
    border-bottom-left-radius: 10px;

}

.main {
    background-color: $color-background-1;
    flex: 1;
    border-bottom-right-radius: 10px;
    font-size: 1.5rem;
    color: white;
    //display: flex;
    //flex-direction: column;   
    //height: 20rem;
}